<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Automation Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8f92ff">  <td>20/06/16 13:03:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.TestSuite_Logout@ff5b51f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24606376</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>20/06/16 13:03:04</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSuite_Logout.startTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TestSuite_Logout@ff5b51f]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24606376</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>20/06/16 13:03:04</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSuite_Logout.Logout_TSC_001()[pri:0, instance:testCases.TestSuite_Logout@ff5b51f]">Logout_TSC_001</td> 
  <td>main@24606376</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>20/06/16 13:03:08</td>   <td>3952</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSuite_Logout.tearDown()[pri:0, instance:testCases.TestSuite_Logout@ff5b51f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24606376</td>   <td></td> </tr>
</table>
