<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9395b2">  <td>20/06/16 11:44:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSuite_Login.Login_TSC_001()[pri:0, instance:testCases.TestSuite_Login@4f638935]">Login_TSC_001</td> 
  <td>main@1169794610</td>   <td></td> </tr>
<tr bgcolor="6f8775">  <td>20/06/16 11:44:59</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSuite_Logout.Logout_TSC_001()[pri:0, instance:testCases.TestSuite_Logout@4387b79e]">Logout_TSC_001</td> 
  <td>main@1169794610</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>20/06/16 11:44:58</td>   <td>-818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSuite_Register.Register_TSC_001()[pri:0, instance:testCases.TestSuite_Register@79ca92b9]">Register_TSC_001</td> 
  <td>main@1169794610</td>   <td></td> </tr>
<tr bgcolor="806884">  <td>20/06/16 11:44:59</td>   <td>-39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSuite_TopUp.TopUp_TSC_001()[pri:0, instance:testCases.TestSuite_TopUp@1460a8c0]">TopUp_TSC_001</td> 
  <td>main@1169794610</td>   <td></td> </tr>
<tr bgcolor="806884">  <td>20/06/16 11:44:59</td>   <td>-24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSuite_TopUp.TopUp_TSC_055()[pri:0, instance:testCases.TestSuite_TopUp@1460a8c0]">TopUp_TSC_055</td> 
  <td>main@1169794610</td>   <td></td> </tr>
<tr bgcolor="b965f2">  <td>20/06/16 11:44:58</td>   <td>-872</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.TestSuite_Register@79ca92b9]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1169794610</td>   <td></td> </tr>
<tr bgcolor="b965f2">  <td>20/06/16 11:44:59</td>   <td>-41</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.TestSuite_TopUp@1460a8c0]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1169794610</td>   <td></td> </tr>
<tr bgcolor="b965f2">  <td>20/06/16 11:44:59</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.TestSuite_Login@4f638935]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1169794610</td>   <td></td> </tr>
<tr bgcolor="b965f2">  <td>20/06/16 11:44:59</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.TestSuite_Logout@4387b79e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1169794610</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>20/06/16 11:44:58</td>   <td>-827</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSuite_Register.startTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TestSuite_Register@79ca92b9]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1169794610</td>   <td></td> </tr>
<tr bgcolor="806884">  <td>20/06/16 11:44:59</td>   <td>-39</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSuite_TopUp.startTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TestSuite_TopUp@1460a8c0]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1169794610</td>   <td></td> </tr>
<tr bgcolor="9395b2">  <td>20/06/16 11:44:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSuite_Login.startTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TestSuite_Login@4f638935]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1169794610</td>   <td></td> </tr>
<tr bgcolor="6f8775">  <td>20/06/16 11:44:59</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSuite_Logout.startTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TestSuite_Logout@4387b79e]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1169794610</td>   <td></td> </tr>
<tr bgcolor="b794e2">  <td>20/06/16 11:44:59</td>   <td>-42</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSuite_Register.tearDown()[pri:0, instance:testCases.TestSuite_Register@79ca92b9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1169794610</td>   <td></td> </tr>
<tr bgcolor="806884">  <td>20/06/16 11:44:59</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSuite_TopUp.tearDown()[pri:0, instance:testCases.TestSuite_TopUp@1460a8c0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1169794610</td>   <td></td> </tr>
<tr bgcolor="9395b2">  <td>20/06/16 11:44:59</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSuite_Login.tearDown()[pri:0, instance:testCases.TestSuite_Login@4f638935]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1169794610</td>   <td></td> </tr>
<tr bgcolor="6f8775">  <td>20/06/16 11:44:59</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSuite_Logout.tearDown()[pri:0, instance:testCases.TestSuite_Logout@4387b79e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1169794610</td>   <td></td> </tr>
</table>
